*{
  margin: 0px;
  padding: 0px;
}
.main{
  padding: 0 300px 0 300px;
  min-width: 800px;
  min-height: 900px;
  .center{
    width: 100%;
    height: 100vh;
    float: left;
    .top{
      width: 100%;
      height: 60px;
      .player-info{
        width: calc(50% - 30px);
        height: 100%;
        float: left;
        // padding: 1%;
        .life-point{
          width: 100%;
          height: 50%;
          background-color: red;
          text-align: center;
          // span{
          //   margin-left: 50%;
          // }
        }
        .player-name{
          
        }
        .opponent{
          text-align: right;
        }
      }
      .turn-number{
        width: 60px;
        height: 100%;
        float: left;
        text-align: center;
      }
    }
    .game-zone{
      width: 100%;
      height: calc(100% - 60px);
      .hand{
        width: 100%;
        height: 13%;
        // padding: 1%;
      }
      .card-zone{
        width: 100%;
        height: 70%;
        .opponent{
          img{
            transform: rotate(180deg);
          }
        }
        .myself{
          
        }
        .side{
          width: 15%;
          height: 100%;
          float: left;
          .card-contain{
            height: 20%;
          }
        }
        .field{
          width: 70%;
          height: 100%;
          float: left;
          .magic-trap-zone{
            height: 20%;
          }
          .main-monster-zone{
            height: 20%;
          }
          .ex-monster-zone{
            height: 20%;
          }
          .card-contain{
            width: 20%;
          }
        }
        .card-contain{
          width: 100%;
          height: 100%;
          float: left;
          border: 1px solid black;
          box-sizing: border-box;
          text-align: center;
          .card-number-top{
            height: 15%;
            position: relative;
            top: 0;
            font-size: 100%;
          }
          .card-number-bottom{
            height: 15%;
            position: relative;
            bottom: 0;
            font-size: 100%;
          }
          .card{
            height: 70%;
            img{
              width: auto;
              height: auto;
              max-width: 100%;
              max-height: 100%;
            }
          }
          .card-horizontal{
            transform: rotate(-90deg);
          }
        }
      }
    }
  }
  .detail-box{
    width: 100%;
    height: 50%;
    float: left;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 5%;
  }
  .left{
    width: 300px;
    height: 100vh;
    margin-left: -100%;
    position: relative;
    right: 300px;
    float: left;
    .card-picture{
      img{
        width: 100%;
        height: auto;
        max-width: 100%;
        max-height: 100%;
      }
    }
    .card-detail{
      
    }
  }
  .right{
    width: 300px;
    height: 100vh;
    margin-right: -300px;
    
    float: left;
    .info{
      
    }
    .chat{
      .chat-input{
        width: 90%;
        position: relative;
        top: 90%;
      }
    }
  }
}
